<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.apns.demo1" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
		<activity android:name="org.apns.demo1.APNSDemo1" android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="com.apns.APNService" android:label="APNS Service Demo">
			<intent-filter>
				<action android:name="com.apns.APNService.START" />
				<action android:name="com.apns.APNService.STOP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
		<receiver android:name="org.apns.demo1.MyBroadcastReceiver">
			<intent-filter>
				<action android:name="com.apns.APNService.NOTIFICATION" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-sdk android:minSdkVersion="3" />
</manifest> 